@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500&display=swap');


html, body, .wrapper {
    margin: 0;
    height: 100%;
}

body {
    background-image:radial-gradient(circle at 0% 50%, rgba(33, 17, 45, 1) 0%, rgba(43, 78, 129, 1) 100%);
    font-family: 'Raleway', sans-serif;
}

.right-half {
    margin-left: 50%;
    height: 3000px;
}