@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500&display=swap");

html {
  height: 100%;
}

body {
  background: linear-gradient(
    97deg,
    rgba(33, 17, 45, 1) 0%,
    rgba(42, 76, 126, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
}

.right-section {
  margin-left: 40%;
  height: 1000px;
}
